*{
  box-sizing:border-box;
}
body{
  background:linear-gradient(90deg,#38a6f5,#0005f5);
}
.main{
height:100%;
width:500px;
margin:0px auto 0px auto;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
.palindrome{
  color:white;
  font-weight:800;
  font-size:50px;
  text-align:center;
}
h4{
  width:380px;
  height:40px;
  font-size:20px;
  text-align:center;
}
.block{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  width:auto;
  height:auto;
  background:white;
  border-radius:20px;
  box-shadow:4px 7px 2px 0px;
}
.input{
  display:flex;
  justify-content:center;
  height:40px;
  width:200px;
  margin-top:10px;
}
#text-input{
  width:250px;
  height:30px;
  border-width:0 0 2px 0;
  border-radius:5px;
  text-align:center;
}
#result{
  font-weight:800;
  font-size:30px;
  text-align:center;
  overflow:hidden;
  padding:10px;
}
#check-btn{
  background-color:#ffb703;
  width:100px;
  height:30px;
  font-size:20px;
  font-weight:500;
  color:white;
  border-radius:10px;
  border-width:1px;
}
